.container {
  min-width: 370px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #fff;
  font-size: 18px;
}
.container-flex {
  display: flex;
  align-items: center;
  padding: 0 20px;
  img {
    margin-left: 10px;
  }
}
.signin {
  padding: 10px 20px;
  font-weight: 400;
  line-height: 28px;
}
.signup {
  font-weight: 400;
  line-height: 28px;
  border-radius: 5px;
  color: #52C41A;
  border: 1.5px solid #52C41A;
  line-height: 28px;
  padding: 10px 30px;
  margin-left: 20px;
}

.log-out {
  font-weight: 400;
  line-height: 28px;
  font-size: 18px;
  color: rgba(0, 0, 0, .8);
  padding: 10px 20px;
  outline: none;
  border: 1.5px solid #000000BF;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.picture {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin: 0 20px;
}

.username {
  padding: 0 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, .8);
  margin-left: 40px;
  img {
    width: 50px;
    border-radius: 50%;
  }
}

.title {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #000;
}
