.container {
  display: flex;
  align-items: center;
}
.signin {
  margin-left: 50px;
  border: 1px solid #52C41A;
  padding: 10px 20px;
  border-radius: 5px;
  color: #52C41A;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
.signup {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}